<mat-card class="item--{{ displayType }}">
  <mat-card-title
    class="item--{{ displayType }}__title"
    matTooltip="{{ video.title }}"
  >
    {{ video.title }}
  </mat-card-title>
  <img
    class="item--{{ displayType }}__img"
    mat-card-image
    [src]="video.thumbnail"
  />
  <mat-card-content class="item--{{ displayType }}__description">
    <span class="item--{{ displayType }}__description__item">
      Likes: {{ video.likesCount }}
    </span>
    <span class="item--{{ displayType }}__description__item">
      Views: {{ video.viewsCount }}
    </span>
    <span class="item--{{ displayType }}__description__item">
      Added at: {{ video.addedAt | date }}
    </span>
  </mat-card-content>
  <mat-card-actions class="item--{{ displayType }}__buttons">
    <mat-icon
      class="item--{{ displayType }}__button"
      aria-hidden="false"
      aria-label="Play video"
      fontIcon="play_arrow"
      matTooltip="Play Video"
    ></mat-icon>
    <mat-icon
      class="item--{{ displayType }}__button"
      aria-hidden="false"
      aria-label="Delate video"
      fontIcon="delete"
      matTooltip="Delete Video"
      (click)="emitRemoveVideo()"
    ></mat-icon>
    <mat-icon
      class="item--{{ displayType }}__button"
      aria-hidden="false"
      aria-label="Add video to favorites"
      fontIcon="favorite"
      matTooltip="Add video to favorites"
      (click)="emitToggleFavoriteVideo()"
    >
    </mat-icon>
  </mat-card-actions>
</mat-card>
